<script setup lang="ts">
import { ElForm, ElFormItem, ElRadioGroup, ElRadio, ElInputNumber, ElInput, ElIcon, ElButton } from 'element-plus';
import * as Icons from '@element-plus/icons-vue';

import { iconNames, type Icon } from '@/helpers/icons';
import type { Coordinates } from '@/helpers/geometry';

export type MarkerModelBase = { coordinates: Coordinates };

export type MarkerModel =
  | (MarkerModelBase & { type: 'text'; text: string })
  | (MarkerModelBase & { type: 'icon'; icon: Icon });

const props = defineProps<{ modelValue: MarkerModel; defaults: { text: string; icon: Icon } }>();

const emit = defineEmits<{
  (event: 'update:modelValue', value: MarkerModel): void;
  (event: 'remove'): void;
}>();

// This basically copies the object to prevent reactivity problems
const getFormModel = (model: MarkerModel): MarkerModel => {
  const shared = { coordinates: { lng: model.coordinates.lng, lat: model.coordinates.lat } };

  if (model.type === 'text') {
    return { ...shared, type: 'text', text: model.text };
  }

  return { ...shared, type: 'icon', icon: model.icon };
};

const formModel = ref<MarkerModel>(getFormModel(props.modelValue));

// To make TS happy
const selectIcon = (icon: Icon) => {
  if (formModel.value.type === 'icon') {
    formModel.value.icon = icon;
  }
};

const watchModel = () => {
  return watch(
    formModel,

    (model) => {
      const shared = {
        coordinates: { lng: model.coordinates.lng, lat: model.coordinates.lat },
      };

      if (model.type === 'text') {
        const { type, text = props.defaults.text } = model;

        emit('update:modelValue', { ...shared, type, text });
      }

      if (model.type === 'icon') {
        const { type, icon = props.defaults.icon } = model;

        emit('update:modelValue', { ...shared, type, icon });
      }
    },
    { deep: true },
  );
};

let unwatchModel = watchModel();

watch(
  () => props.modelValue,

  (modelValue) => {
    // Prevents infinite update loop
    unwatchModel();

    formModel.value = getFormModel(modelValue);

    unwatchModel = watchModel();
  },

  { deep: true },
);
</script>

<template>
  <ElForm :class="$style['edit-marker-form']" label-position="top" @submit.prevent="">
    <ElRadioGroup v-model="formModel.type">
      <ElRadio :class="$style['radio-button']" label="text">Text Marker</ElRadio>
      <ElRadio :class="$style['radio-button']" label="icon">Icon Marker</ElRadio>
    </ElRadioGroup>

    <ElFormItem label="Latitude">
      <ElInputNumber :class="$style['input-number']" v-model="formModel.coordinates.lng" :min="-180" :max="180" />
    </ElFormItem>

    <ElFormItem label="Longtitude">
      <ElInputNumber :class="$style['input-number']" v-model="formModel.coordinates.lat" :min="-90" :max="90" />
    </ElFormItem>

    <ElFormItem v-if="formModel.type === 'text'" label="Marker Text">
      <ElInput data-test="marker-text" v-model="formModel.text" />
    </ElFormItem>

    <ElFormItem v-if="formModel.type === 'icon'" label="Marker Icon">
      <div :class="$style['icon-container']">
        <ElIcon
          v-for="icon in iconNames"
          :key="icon"
          :class="[$style.icon, formModel.icon === icon && $style['is-selected']]"
          :size="30"
          @click="selectIcon(icon)"
        >
          <component :is="Icons[icon]" />
        </ElIcon>
      </div>
    </ElFormItem>

    <ElButton type="danger" @click="emit('remove')">Remove Marker</ElButton>
  </ElForm>
</template>

<style module lang="scss">
.edit-marker-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  background-color: #fff;
  padding: var(--spacing);
  border-radius: calc(var(--spacing) / 2);
  width: 210px;

  .radio-button {
    margin-right: var(--spacing);
  }

  .input-number {
    width: 100%;
  }
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
  overflow-y: auto;
}

.icon {
  cursor: pointer;

  &.is-selected,
  :hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
</style>
