<script setup lang="ts">
export type ExportFrameExposed = { exportAsDataUrl: () => Promise<string> };

const props = defineProps<{ height: number; width: number; borderWidth: number }>();

const frame = ref<HTMLElement>();
const frameStyle = computed(() => ({
  height: `${props.height}px`,
  width: `${props.width}px`,
  borderWidth: `${props.borderWidth}px`,
}));

const exportAsDataUrl = async () => {
  if (!frame.value) {
    throw new Error('Failed to find frame to export');
  }

  const { height, width, borderWidth } = props;
  const { x, y } = frame.value.getBoundingClientRect();

  // https://webpack.js.org/guides/code-splitting/
  const { default: h2canvas } = await import(/* webpackPrefetch: true, webpackChunkName: "h2canvas" */ 'html2canvas');

  // Can't render the frame itself, h2canvas doesn't pick up what's below
  // TODO: Images are pretty blurry by default, we can use `scale` option and then scale down the resulting image
  const canvas = await h2canvas(document.body, {
    x: x + borderWidth,
    y: y + borderWidth,
    height: height,
    width: width,
  });

  return canvas.toDataURL();
};

defineExpose<ExportFrameExposed>({ exportAsDataUrl });
</script>

<template>
  <div ref="frame" data-test="export-frame" :class="$style['export-frame']" :style="frameStyle" />
</template>

<style module lang="scss">
.export-frame {
  border-style: solid;
  border-color: black;
}
</style>
