<script setup lang="ts">
import { ElIcon } from 'element-plus';
import * as Icons from '@element-plus/icons-vue';

import { type Icon } from '@/helpers/icons';
import type { Coordinates } from '@/helpers/geometry';

import MarkerBase from './MarkerBase.vue';

withDefaults(
  defineProps<{
    coordinates: Coordinates;
    icon: Icon;
    isSelected?: boolean;
  }>(),
  { isSelected: false },
);
</script>

<template>
  <MarkerBase v-bind="$attrs" :coordinates="coordinates" :is-selected="isSelected" :offset="[0, 0]">
    <ElIcon :size="30" :class="[$style.icon, $style.override]">
      <component :is="Icons[icon]" />
    </ElIcon>
  </MarkerBase>
</template>

<style module lang="scss">
.icon.override {
  display: block;
}
</style>
