<script setup lang="ts">
import { Map } from 'mapbox-gl';

import { provideMap } from '@/helpers/useMap';
import { type Layer, layerNames } from '@/helpers/layers';
import type { Coordinates } from '@/helpers/geometry';

// This shows which Mapbox layers to hide for each of our layer spec
const filteredMapboxLayers: Record<Layer, string[]> = {
  'poi-labels': ['poi-label'],
  'elevation-shading': ['hillshade'],
};

const props = withDefaults(
  defineProps<{
    accessToken: string;
    layers: Layer[];
    isTargeting?: boolean;
  }>(),
  { isTargeting: false },
);

const emit = defineEmits<{ (event: 'click', coordinates: Coordinates): void }>();

const mapRoot = ref<HTMLElement>();
const isMapLoaded = ref(false);

onMounted(() => {
  if (!mapRoot.value) {
    throw new Error('Failed to find map root element');
  }

  const map = new Map({
    container: mapRoot.value,
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [13.4, 52.5], // Berlin, why not?
    zoom: 4,
    accessToken: props.accessToken,
    preserveDrawingBuffer: true,
  });

  provideMap(map);

  map.on('click', ({ lngLat }) => emit('click', { lng: lngLat.lng, lat: lngLat.lat }));

  map.on('load', () => {
    isMapLoaded.value = true;

    const startingLayersIds = map.getStyle().layers?.map(({ id }) => id);

    if (!startingLayersIds) {
      throw new Error('Failed to find any layers in a map');
    }

    watch(
      () => props.layers,

      (layersProp) => {
        const layersToShow = layersProp.map((layer) => filteredMapboxLayers[layer]).flat();

        const layersToHide = layerNames
          .filter((layer) => !layersProp.includes(layer))
          .map((layer) => filteredMapboxLayers[layer])
          .flat();

        layersToShow.forEach((layer) => map.setLayoutProperty(layer, 'visibility', undefined));
        layersToHide.forEach((layer) => map.setLayoutProperty(layer, 'visibility', 'none'));
      },

      { immediate: true, deep: true },
    );
  });
});
</script>

<template>
  <div :class="$style.map">
    <div :class="$style['controls-left']">
      <slot name="controls-left" />
    </div>

    <div :class="$style['controls-right']">
      <slot name="controls-right" />
    </div>

    <div :class="[$style['mapbox-root'], isTargeting && $style['is-targeting']]" ref="mapRoot" />

    <!-- Markers need our map, we only render them after it's loaded -->
    <div v-if="isMapLoaded" :class="$style.markers">
      <slot name="markers" />
    </div>
  </div>
</template>

<style module lang="scss">
.map,
.mapbox-root {
  height: 100%;

  & :global .mapboxgl-canvas {
    outline: none;
  }

  &.is-targeting :global .mapboxgl-canvas {
    cursor: crosshair;
  }
}

.controls-left {
  left: var(--spacing);
}

.controls-right {
  right: var(--spacing);
}

.controls-left,
.controls-right {
  position: absolute;
  z-index: var(--z-index-map-controls);
  top: var(--spacing);
}

.markers {
  display: none;
}
</style>
