<script setup lang="ts">
import { Marker, type MarkerOptions } from 'mapbox-gl';

import type { Coordinates } from '@/helpers/geometry';
import { useMap } from '@/helpers/useMap';

const props = withDefaults(
  defineProps<{
    coordinates: Coordinates;
    isSelected?: boolean;
    anchor?: MarkerOptions['anchor'];
    offset?: MarkerOptions['offset'];
  }>(),
  { isSelected: false },
);

const emit = defineEmits<{
  (event: 'click'): void;
  (event: 'move', coordinates: Coordinates): void;
}>();

const map = useMap();
const rootEl = ref<HTMLElement>();

onMounted(() => {
  if (!rootEl.value) {
    throw new Error('Failed to find marker root element');
  }

  // We don't care about props reactivity here
  const { coordinates, anchor, offset } = props;

  const marker = new Marker({
    element: rootEl.value,
    draggable: true,
    anchor,
    offset,
  })
    .setLngLat(coordinates)
    .addTo(map);

  watch(
    () => props.coordinates,
    (coordinates) => marker.setLngLat(coordinates),
  );

  marker.on('dragend', () => {
    const { lng, lat } = marker.getLngLat();

    emit('move', { lng, lat });
  });

  onUnmounted(() => marker.remove());
});
</script>

<template>
  <!-- Need .stop cuz we wanna distinguish clicks on map vs clicks on marker -->
  <div data-test="marker-base" ref="rootEl" @click.stop="emit('click')">
    <!-- Need wrapper cuz we wanna give mapbox freedom on rootEl -->
    <div :class="[$style['marker-base'], isSelected && $style['is-selected']]">
      <slot />
    </div>
  </div>
</template>

<style module lang="scss">
.marker-base {
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;

  &.is-selected {
    border-color: black;
  }
}
</style>
