<script setup lang="ts">
import type { Coordinates } from '@/helpers/geometry';

import MarkerBase from './MarkerBase.vue';

withDefaults(
  defineProps<{
    coordinates: Coordinates;
    text: string;
    isSelected?: boolean;
  }>(),
  { isSelected: false },
);
</script>

<template>
  <MarkerBase v-bind="$attrs" anchor="bottom" :coordinates="coordinates" :is-selected="isSelected" :offset="[1, 5]">
    <div :class="$style.marker">
      <div>{{ text }}</div>
      <div :class="$style.point"></div>
    </div>
  </MarkerBase>
</template>

<style module lang="scss">
.point {
  $size: 5px;

  height: $size;
  width: $size;
  border-radius: calc($size / 2);

  margin: {
    top: var(--spacing);
    left: auto;
    right: auto;
  }

  background-color: #000;
}
</style>
